.silkscreen-regular {
  font-family: "Fira Code", system-ui;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", system-ui;
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: black;
  color: white;
  text-align: center;
}

header {
  font-size: xx-large;
  margin: 20px 40px;
  /* padding: 30px; */
  /* border-bottom: 5px lime ridge;
  border-right: 5px lime ridge; */
}

/* NAV */
.navbar {
  width: 100%;
  height: 40px;
  background-color: white;
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  width: 40px;
  margin-left: 100px;
}

li a:hover {
  background-color: #111;
  font-size: larger;
  transition: 0.3s;
  padding: 11px 13px;
}

/* PAGE */
.example {
  color: grey;
  font-size: small;
}

.explainer {
  background-color: rgba(7, 110, 15, 0.526);
  margin: 30px;
  padding: 20px 40px;
  box-shadow: 5px 5px rgb(106, 255, 57);
}

.challenge {
  margin: 30px;
}

.answerbox {
  margin-top: 20px;
}

/* INPUT */
input {
  border: none;
  padding: 10px;
  font-family: "Fira Code", system-ui;
  width: 200px;
}

/* ::placeholder {
  color: lime;
  opacity: 1;
} */

button {
  border: none;
  padding: 10px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ddd;
  font-family: "Silkscreen", system-ui;
}

button:hover {
  background-color: #aaa;
  transition: 0.3s;
}

button a {
  text-decoration: none;
}

/* OSINT */
.photo {
  width: 30%;
}

#solutionexp {
  background-color: rgba(7, 110, 15, 0.526);
  margin: 30px;
  padding: 20px 40px;
  box-shadow: 5px 5px rgb(106, 255, 57);
}

.show {
  display: block;
}

.hide {
  display: none;
}

.hint {
  background-color: rgba(7, 28, 110, 0.526);
  margin: 30px;
  padding: 20px 40px;
  box-shadow: 5px 5px rgb(57, 123, 255);
}